body{
    font-family: 'Roboto Mono', monospace;
    font-size: 5rem;
    background-color: rgb(1, 36, 66);
    text-align: center;
}
#clock{
    background-color: rgb(202, 215, 226);
    width: 25rem;
    border: 5px solid black;
    position: absolute;
    left: 37%;
    top: 8rem;
}
